/* Enable sticky footer */
html, body, #content-wrapper { height: 100%; }
body > #content-wrapper { height: auto; min-height: 100%; }

.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}

#content-wrapper { 
  padding-bottom: 3em;
}



body { 
  background-color: #EFF2F3;
  color: #111; 

  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 12px; 
  line-height: 24px; 
}


h1 {
  font-family: 'Open Sans', sans-serif; 
  font-size: 36px; 
  font-weight: 300; 
  line-height: 36px; 
}

.top-bar {
  background-color: #e8eaeb;
  color: #111;
}

.top-bar .content-wrapper{
  padding: 1em;
  margin-left: 4%;
  margin-top: 0;
}

.top-bar .logo{
  max-height: 96px;
}

*, *:before, *:after {box-sizing:  border-box !important;}

.main {
  padding: 1em;
  
  -moz-column-width: 16em;
  -webkit-column-width: 16em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;  
  
  width:92%;
  margin: 0 auto 0 auto;
}

.main a:hover {
  text-decoration: none;
}


.footer {
  text-align: center;
  padding-bottom: 6px;
}

.footer a{
  color: #111;
}

.doc-item-wrapper {
   display: inline-block;
   margin:  0;
   margin-bottom: 1em;
   padding:  0;
   width:  100%; 
}





.doc-item {
  color: #3f3f3f;
  background-color: #fff;
  margin-bottom: 3px;
  padding: 2px;
  position:relative;
}

.doc-item:hover { 
  background-color: #a3b9c9; 
}

.tags-container-wrapper{
  text-align: center;
}

.tags-container {

  overflow:auto;
  background-color: #fff;
  padding: 3em 1em;
  background-color: #EFF2F3
}

.tags-container:hover { 
  background-color: #EFF2F3
}

.front-docs-tag{
  float: left;
  margin: 6px 18px 6px 0;
  padding: 6px;

  font-family: 'Open Sans', 
  sans-serif; 
  font-size: 18px;
  line-height: 18px; 
  font-weight: 100;
}



.doc-item-thumbnail{
  width: 100%;
  max-width: 320px;

  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}


.doc-item .badge-img {
  position: absolute;
  top: 4px;
  left: 4px;

  max-width: 36px;
}

.doc-item h2 { 
  font-family: 'Open Sans', sans-serif; 
  font-size: 18px; 
  font-weight: 300; 
  line-height: 28px; 
  margin: 12px 18px 12px 18px; 
}

.doc-item p {
  font-size: 14px;
  margin: 0 18px 0 18px; 
}

.doc-item hr {
  margin: 6px 2px 6px 2px; 
}

.doc-item .front-docs-tags{
  overflow: auto;
  margin: 0 18px 6px 18px; 
}


.doc-item .front-docs-tag{
  font-size: 11px; 
  line-height: 11px; 
  margin: 3px 6px 1px 0;
  padding: 2px 4px;
}

.tags-container .front-docs-tag{
  font-size: 18px; 
  line-height: 18px; 
  margin: 6px 6px 6px 0;
  padding: 6px;
}

/* Prevent "button glow" when pressing/pressed. */
.btn:focus, .btn:active, .btn:active:focus {
  outline: none;
}

