<div class="doc-item-wrapper" ng-show="shouldDisplayItem(docItem)">
<a target="_blank" ng-href="{{docItem.url}}">

    <div class="doc-item img-rounded">

        <img class="badge-img" ng-src="{{docItem.badge_url}}">
        <img class="doc-item-thumbnail img-rounded" ng-src="{{docItem.thumbnail_url}}"/>


        <h2>{{docItem.title}}</h2>

        <p>
        {{docItem.description}}
        </p>

        <hr />

        <div class="front-docs-tags">
            <span ng-repeat="tag in docItem.tags" class="front-docs-tag label label-default">{{tag}}</span>
        </div>



    </div>

</a>
</div>